<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
<body>
<header th:insert="blocks/header.html :: header"></header>
<div class="container">
<!--    <nav class="navbar bg-light">-->
<!--        <div class="container-fluid">-->
<!--            <form class="d-flex" th:method="GET" th:action="@{/game/games.html}" role="search">-->
<!--                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">-->
<!--                <button class="btn btn-outline-success" type="submit">Поиск</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </nav>-->
    <a class="btn btn-primary" href="/game/new" role="button">Добавить игру</a>
    <br>
    <table class="table table-borderless">
        <caption>Коллекция игр</caption>
        <thead>
        <tr>
            <th>Название</th>
            <th>Жанр</th>
            <th>Платформа</th>
            <th>Библиотека</th>
            <th>Статус</th>
            <th>Прошёл игру</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game: ${games}">
            <td><a th:href="@{/game/{id}(id=${game.getId()})}" th:text="${game.getName()}">name</a></td>
            <td th:text="${game.getGenre()}">genre</td>
            <td th:text="${game.getPlatform()}">platform</td>
            <td th:text="${game.getLibrary()}">library</td>
            <td th:text="${game.getStatus()}">status</td>
            <td th:text="${game.getPlayDate()}">playDate</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>