<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New game</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<header th:insert="blocks/header.html :: header"></header>
<div class="container">
    <form class="row g-2" th:method="POST" th:action="@{/game}" th:object="${game}">
        <div class="col-12">
            <label for="name" class="col-label">Название игры: </label>
            <input type="text" class="form-control" th:field="*{name}" id="name"/>
        </div>
        <div class="col-12">
            <label class="form-label"> Статус:
                <select class="form-select" th:field="*{status}">
                    <option value="">Выберете вариант</option>
                    <option value="Пройдена">Пройдена</option>
                    <option value="Прохожу">Прохожу</option>
                    <option value="Играл">Играл</option>
                    <option value="Не играл">Не играл</option>
                </select>
            </label>
        </div>
        <div class="col-12">
            <label for="genre" class="form-label"> Жанр:
                <select id="genre" class="form-select" th:field="*{genre}">
                    <option value="">Выберете вариант</option>
                    <option value="Action">Action</option>
                    <option value="Action-adventure">Action-adventure</option>
                    <option value="Adventure">Adventure</option>
                    <option value="Fighting">Fighting</option>
                    <option value="JRPG">JPRG</option>
                    <option value="Kinect">Kinect</option>
                    <option value="Platform">Platform</option>
                    <option value="Point-and-click">Point-and-click</option>
                    <option value="Puzzle">Puzzle</option>
                    <option value="Quest">Quest</option>
                    <option value="Racing">Racing</option>
                    <option value="Role-playing (RPG)">Role-playing (RPG)</option>
                    <option value="Sports">Sports</option>
                    <option value="Shooter">Shooter</option>
                    <option value="Simulation">Simulation</option>
                    <option value="Strategy">Strategy</option>
                    <option value="Survival horror">Survival horror</option>
                </select>
            </label>
        </div>
        <div class="col-12">
            <label class="form-label"> Платформа:
                <select class="form-select" th:field="*{platform}" multiple>
                    <option value="PC">PC</option>
                    <option value="Xbox 360">Xbox 360</option>
                </select>
            </label>
        </div>
        <div class="col-12">
            <label class="form-label"> Библиотека:
                <select class="form-select" th:field="*{library}" multiple>
                    <option value="Steam">Steam</option>
                    <option value="EA">EA</option>
                    <option value="Epic Games">Epic Games</option>
                    <option value="Ubisoft Connect">Ubisoft Connect</option>
                    <option value="Xbox">Xbox</option>
                    <option value="Game Pass">Game Pass</option>
                    <option value="Microsoft Store">Microsoft Store</option>
                    <option value="Battle.net">Battle.net</option>
                    <option value="Disc">Disc</option>
                </select>
            </label>
        </div>
        <div class="col-md-6">
                <label for="release" class="form-label">Дата выхода: </label>
                <input type="text" class="form-control" aria-describedby="dateHelpInline" th:field="*{release}" id="release"/>
                <span id="dateHelpInline" class="form-text">дата в формате: dd-mm-yyyy</span>
        </div>
        <div class="col-md-6">
                <label for="play_date" class="form-label">Прошёл игру: </label>
                <input type="text" class="form-control" aria-describedby="playDateHelpInline" th:field="*{playDate}" id="play_date"/>
                <span id="playDateHelpInline" class="form-text">дата в формате: dd-mm-yyyy</span>
        </div>
        <div class="col-3">
            <label for="achievements_unlock" class="form-label">Разблокировано достижений: </label>
            <input type="text" class="form-control" th:field="*{achievementsUnlock}" id="achievements_unlock"/>
        </div>
        <div class="col-3">
            <label for="achievements_count" class="form-label">Всего достижений: </label>
            <input type="text" class="form-control" th:field="*{achievementsCount}" id="achievements_count"/>
        </div>
        <div class="col-3">
            <label for="game_score" class="form-label">Набрано очков: </label>
            <input type="text" class="form-control" th:field="*{gameScore}" id="game_score"/>
        </div>
        <div class="col-3">
            <label for="game_score_count" class="form-label">Всего очков: </label>
            <input type="text" class="form-control" th:field="*{gameScoreCount}" id="game_score_count"/>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Добавить игру</button>
        </div>
    </form>
</div>
</body>
</html>