<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<header th:insert="blocks/header.html :: header"></header>
<div class="container">
    <div class="row">
        <div class="col-3">
            <img th:src="@{../pictures/covers/{name}.jpg(name=${game.getName().toLowerCase()})}" class="img-fluid"
                 alt="cover">
        </div>
        <div class="col-4">
            <span class="fw-bold">Название: </span><span th:text="${game.getName()}">value</span><br>
            <span class="fw-bold">Статус: </span><span th:text="${game.getStatus()}">value</span><br>
            <span class="fw-bold">Жанр: </span><span th:text="${game.getGenre()}">value</span><br>
            <span class="fw-bold">Платформа: </span><span th:text="${game.getPlatform()}">value</span><br>
            <span class="fw-bold">Библиотека: </span><span th:text="${game.getLibrary()}">value</span><br>
            <span class="fw-bold">Дата выхода: </span><span th:text="${game.getRelease()}">value</span><br>
            <span class="fw-bold">Прошёл игру: </span><span th:text="${game.getPlayDate()}">value</span><br>
            <span class="fw-bold">Достижения: </span><span th:text="${game.getAchievementsUnlock()}">value</span>
            <span>/ </span><span th:text="${game.getAchievementsCount()}">value</span><br>
            <span class="fw-bold">Очки: </span><span th:text="${game.getGameScore()}">value</span>
            <span>/ </span><span th:text="${game.getGameScoreCount()}">value</span><br>
            <span class="fw-bold">Прогресс достижений:</span><br>
            <progress th:value="${game.progress()}" max="100"></progress>
            <br>
            <br>
            <div class="d-flex">
                <div class="p-2">
                    <a class="btn btn-primary" th:href="@{/game/{id}/edit(id=${game.getId()})}"
                       role="button">Редактировать</a>
                </div>
                <div class="p-2">
                    <form th:method="DELETE" th:action="@{/game/{id}(id=${game.getId()})}">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="blocks/footer.html :: footer"></footer>
</body>
</html>